$color_heading: #fff;
$color_boxy: #f1f1f1;

$color_link: #2184dc;
$color_link-visited: #2196f3;
$color_link-hover: #eb1f09;

$color_primary: #2196f3; // Default: blue
$color_dark: #2184dc; // Default: dark blue
$color_accent: #eb1f09; // Default: red

// Borders

$border: 1px solid #eee;
$border-light: 1px solid #f3f3f3;

// Fonts

$font_main: 'Source Sans Pro', 'Helvetica', sans-serif;
$font_heading: 'Montserrat', 'Source Sans Pro', 'Helvetica', sans-serif;
