/* Footer Menu
--------------------------------------------- */

.nav-secondary {
  margin-top: 10px;
}

.nav-secondary .genesis-nav-menu {
  line-height: 1.5;
}

.nav-secondary .menu-item {
  display: inline-block;
}

.nav-secondary a {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  border-top: 1px solid #eee;
  background-color: #fff;
  clear: both;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 60px 0;
}

.footer-widgets .wrap {
  margin-left: auto;
  margin-right: auto;
}

.footer-widget-area {
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
  margin-bottom: 0;
}

/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: #fff;
  border-top: 1px solid #eee;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  text-align: center;
}

.site-footer p {
  margin-bottom: 0;
}
